.company-logo{
    width: 2rem;
}

.login-section{
    background: linear-gradient(323deg,#ffffff,#008080);
    background-size: 120% 120%;
    animation: gradient-animation 6s ease infinite;
}

.login-container{
    border-radius: 1rem;
    background: white;
    padding: 0.8rem !important;
    margin: 1rem !important;
    animation: scale-up-center-normal 1s ease 0s 1 normal forwards; 
}

@keyframes scale-up-center-normal {0% { transform: scale(0.5); } 100% { transform: scale(1);} }

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.button-wrapper{
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 2rem 0 0rem 0;
}