.company-logo{
    width: 2rem;
}

.login-container{
    border-radius: 1rem;
    background: white;
}

.button-wrapper{
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 2rem 0 0rem 0;
}