:host{
    height: 100%;
    display: flex;

}

.recipent-name-container{
    padding: 0px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.chat-container{
    display: grid;
    gap: 2rem;
    grid-template-rows: auto 1fr auto;
}
.chat-window{
    display: flex;
    align-items: start;
    flex-flow: column;
}

.recipent-text, .user-text{
   display: flex;
}

.chat-body{
    display: flex;
    flex-flow: row;
    border: 2px solid #008080;
    border-radius: 8px;
    margin-bottom: 0.4rem; 
    font-size: 12px;
    padding: 0.4rem;
}

.chat-footer{
    display: flex;
    justify-content: space-between;
}

.send-message{
    border: 1px solid #008080;
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 30rem;
    height: 30px;
    width: 35px;
    margin-left: 0.3rem;
}