.dashboard-wrapper{
    padding: 0.8rem;
    display: flex;
    justify-content: center;
}
    // background: linear-gradient(38deg, rgb(0, 0, 0) 0%, rgb(7 47 62) 100%);

.sidebar-content{
   width: auto;
   padding: 0; 
}

.dashboard{
    padding: 0;
    display: flex;
    flex-flow: column !important;
    flex-wrap: wrap;
    width: 50% ;
}

.top-notifications{
    padding: 3rem 0 2rem; 
}

.router{
    height: 100%;
}

@media screen and (max-width: 768px) {
    .dashboard {
      width: 100%;
      flex-flow: column ;
    }
  }
