<div class="breadcrumb">
  <a class="back-button" (click)="goBack()"><i class="fa-solid fa-chevron-left"></i></a>
  <a class="navbar-brand fw-bold d-flex justify-content-center align-items-center" href="javascript:void(0)">{{ getTitle() }}</a>
  <div class="dark-mode-button d-flex justify-content-end align-items-center" (click)="darkModeToggle()">
    <i id="darkModeButton" class="fa-solid fa-mountain-sun"></i>     
  </div>  
</div>
<nav class="navbar navbar-expand-lg navbar-absolute">
  <div class="container-fluid justify-content-between">
    <a id="home" class="home-icon" (click)="navigateTo('home')">
      <i class="fa-solid fa-house"></i>
    </a>
    <a id="search" class="search-icon" (click)="navigateTo('search')">
      <i class="fa-solid fa-magnifying-glass"></i>
    </a>
    <a id="forum" class="forum-icon" (click)="navigateTo('forum')">
      <i class="fa-brands fa-forumbee"></i>
    </a>
    <a id="explore" class="explore-icon" (click)="navigateTo('bidding')">
      <i class="fa-solid fa-gavel"></i>
    </a>
    <a id="messages" class="messages-icon" (click)="navigateTo('messages')">
      <i class="fa-solid fa-envelope"></i>
    </a>
    <a id="profile" class="profile-icon" (click)="navigateTo('profile')">
      <i class="fa-solid fa-user"></i>
    </a>
  </div>
</nav>



<!-- Navbar Tab Navigation -->
<!-- <nav class="navbar navbar-expand-lg navbar-absolute p-0">
  <div class="nav nav-tabs d-flex justify-content-between container-fluid p-0" id="navbar-tabs" role="tablist">
    <button 
      class="nav-link active" 
      id="home-tab" 
      data-bs-toggle="tab" 
      data-bs-target="#home-tab-pane" 
      type="button" 
      role="tab" 
      aria-controls="home-tab-pane" 
      aria-selected="true">
      <i class="fa-solid fa-house"></i>
    </button>
    <button 
      class="nav-link" 
      id="search-tab" 
      data-bs-toggle="tab" 
      data-bs-target="#search-tab-pane" 
      type="button" 
      role="tab" 
      aria-controls="search-tab-pane" 
      aria-selected="false">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <button 
      class="nav-link" 
      id="forum-tab" 
      data-bs-toggle="tab" 
      data-bs-target="#forum-tab-pane" 
      type="button" 
      role="tab" 
      aria-controls="forum-tab-pane" 
      aria-selected="false">
      <i class="fa-brands fa-forumbee"></i>
    </button>
    <button 
      class="nav-link" 
      id="bidding-tab" 
      data-bs-toggle="tab" 
      data-bs-target="#bidding-tab-pane" 
      type="button" 
      role="tab" 
      aria-controls="bidding-tab-pane" 
      aria-selected="false">
      <i class="fa-solid fa-gavel"></i>
    </button>
    <button 
      class="nav-link" 
      id="messages-tab" 
      data-bs-toggle="tab" 
      data-bs-target="#messages-tab-pane" 
      type="button" 
      role="tab" 
      aria-controls="messages-tab-pane" 
      aria-selected="false">
      <i class="fa-solid fa-envelope"></i>
    </button>
    <button 
      class="nav-link" 
      id="profile-tab" 
      data-bs-toggle="tab" 
      data-bs-target="#profile-tab-pane" 
      type="button" 
      role="tab" 
      aria-controls="profile-tab-pane" 
      aria-selected="false">
      <i class="fa-solid fa-user"></i>
    </button>
  </div>
</nav> -->

<!-- Tab Content -->
<!-- <div class="tab-content" id="navbar-tabs-content">
  <div 
    class="tab-pane fade show active" 
    id="home-tab-pane" 
    role="tabpanel" 
    aria-labelledby="home-tab" 
    tabindex="0">
    <app-home></app-home>
  </div>
  <div 
    class="tab-pane fade" 
    id="search-tab-pane" 
    role="tabpanel" 
    aria-labelledby="search-tab" 
    tabindex="0">
    app-explore
  </div>
  <div 
    class="tab-pane fade" 
    id="forum-tab-pane" 
    role="tabpanel" 
    aria-labelledby="forum-tab" 
    tabindex="0">
    <app-forum></app-forum>
  </div>
  <div 
    class="tab-pane fade" 
    id="bidding-tab-pane" 
    role="tabpanel" 
    aria-labelledby="bidding-tab" 
    tabindex="0">
    <h3>Bidding</h3>
    <p>Check out live bidding activities here.</p>
  </div>
  <div 
    class="tab-pane fade" 
    id="messages-tab-pane" 
    role="tabpanel" 
    aria-labelledby="messages-tab" 
    tabindex="0">
    <app-messages></app-messages>
  </div>
  <div 
    class="tab-pane fade" 
    id="profile-tab-pane" 
    role="tabpanel" 
    aria-labelledby="profile-tab" 
    tabindex="0">
    <app-user-profile></app-user-profile>
  </div>
</div> -->
