.breadcrumb{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.fa-mountain-sun, .fa-moon{
    color: #008080;
}

.navbar{
    margin-bottom: 1rem;
}

.fa-moon{
    padding: 0 2px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    border-radius: 0.8rem;
    border: none;
}


.nav-tabs{
    border-radius: 0.8rem;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus-visible{
    border: none !important;
}
