.breadcrumb{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.fa-mountain-sun, .fa-moon{
    color: #008080;
}

.navbar{
    margin-bottom: 1rem;
}

.fa-moon{
    padding: 0 2px;
}