@import "../../../custom.scss";

.sidebar-wrapper{
    height: 100%;
    max-width: 11rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 6px #00000052, -1px -1px 6px #00000040
}

.logo{
    border-radius: 1rem 1rem 0 0;
}

.sidebar-menu{
  padding: 0rem 0rem 1.5rem 0rem;  
}

.nav-item{
    padding: 6px 1rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.nav-item:hover{
    background: $primary;
    p{
        color: $info;
    }
}

a{
    text-decoration: none;
    font-size: 1.2;
    font-weight: 500;
}

p{
    margin: 0;
}
