$primary: #008080;
$secondary: #18546A;
$dark: #1d1e24;
$light: #eeeeee;
$info: #f9e9e2;
$success: #13cd65;
$warning: #fabf00;
$danger: #cf223b;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// Override primary color

@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

$custom-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
) !default;


$theme-colors: map-remove($theme-colors, "primary", "secondary", "info", "success", "warning", "danger","light", "dark");
$theme-colors: map-merge($theme-colors, $custom-colors);

$body-bg-dark: #000b0f;
$body-bg: #eeeeee;


@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/bootstrap";

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);
// Compile your Sass
// The Angular CLI usually handles Sass compilation during development.
