$primary: #008080;
$secondary: #18546A;
$dark: #1d1e24;
$light: #eeeeee;
$info: #f9e9e2;
$success: #13cd65;
$warning: #fabf00;
$danger: #cf223b;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// Override primary color

@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

$custom-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
) !default;


$theme-colors: map-remove($theme-colors, "primary", "secondary", "info", "success", "warning", "danger","light", "dark");
$theme-colors: map-merge($theme-colors, $custom-colors);

$body-bg-dark: #000b0f;
$body-bg: #eeeeee;


@keyframes light{
  0% {
    background-position-y:100%
  }

  100% {
    background-position-y:0%
  }
}

@keyframes dark{
  0% {
    background-position-y:0%
  }

  100% {
    background-position-y: 100%
  }
}

body[data-bs-theme="initial"] {
  background-position-y:0%
}

body[data-bs-theme="dark"] {
  --bs-body-bg: #000b0f;
  --bs-body-color: #eeeeee;
  animation: dark 1s ease forwards;
  // background: linear-gradient(0deg, #000000 0%, #002222 100%);
  .card, .navbar, .sidebar-wrapper{
    background: #ffffff0a;
    box-shadow: 1px 1px 6px #00808070;
    // border: 1px solid #003333;
  }
}

body[data-bs-theme="light"] {
  --bs-body-bg: #eeeeee;
  --bs-body-color: #000000;
  animation: light 1s ease forwards;
  // background: linear-gradient(0deg, #5ba3a3 -21%, #eaeaea 100%);
  .card, .navbar, .sidebar-wrapper{
    background: rgb(255 255 255 / 36%);
    box-shadow: 2px 2px 6px #00000052, -1px -1px 6px #00000040
  }
}

.mat-display-small, .mat-typography .mat-display-small, .mat-typography{
  margin: 0;
  font-family: 'Quicksand', sans-serif !important;
}

.mat-display-small, .mat-typography .mat-display-small, .mat-typography h3 {
  margin: 0;
  font-family: 'Quicksand', sans-serif !important;
}

.text-primary, .mat-headline-small, .mat-typography .mat-headline-small, .mat-typography, h1, h2, h3, h4, h5, h6, p {
  margin: 0 !important;
  padding: 0;
}

p{
  font-size: 14px !important;
}

.card, .navbar, .sidebar-wrapper{
  border-radius: 0.8rem !important;
  background: rgb(255 255 255 / 36%);
  box-shadow: 2px 2px 6px #00000052, -1px -1px 6px #00000040;
  border-top: none !important;
}

input.form-control{
    border-radius: 5rem;
    height: 2rem;
}

.btn-primary, .btn-outline-primary, .btn-secondary .btn-outline-secondary{
  border-radius: 20rem !important;
  padding: 0rem 1rem !important;
  font-size: 14px !important;
}
.btn{
  .rounded-circle{
    padding: 6px 12px !important
  }
}


@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/bootstrap";

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);
// Compile your Sass
// The Angular CLI usually handles Sass compilation during development.
