/* You can add global styles to this file, and also import other style files */
@import "./custom.scss";

html,
body {
  height: 100%;
  background: linear-gradient(0deg, #000000, #003232, #5ba3a3, #eaeaea);
  background-size: 800% 800%;
}

.mat-display-small, .mat-typography .mat-display-small, .mat-typography{
  margin: 0;
  font-family: 'Quicksand', sans-serif !important;
}

.mat-display-small, .mat-typography .mat-display-small, .mat-typography h3 {
  margin: 0;
  font-family: 'Quicksand', sans-serif !important;
}

.text-primary, .mat-headline-small, .mat-typography .mat-headline-small, .mat-typography, h1, h2, h3, h4, h5, h6, p {
  margin: 0 !important;
  padding: 0;
}

.card, .navbar, .sidebar-wrapper{
  border-radius: 0.8rem !important;
  background: rgb(255 255 255 / 36%);
  box-shadow: 2px 2px 6px #00000052, -1px -1px 6px #00000040
}

input.form-control{
    border-radius: 5rem;
    height: 2rem;
}

.btn-primary, .btn-outline-primary, .btn-secondary .btn-outline-secondary{
  border-radius: 20rem !important;
  padding: 0rem 1rem !important;
  font-size: 14px !important;
}
.btn{
  .rounded-circle{
    padding: 6px 12px !important
  }
}


