/* You can add global styles to this file, and also import other style files */
@import "./custom.scss";

html,
body {
  height: 100%;
  background: #eeeeee;
}

.mat-display-small, .mat-typography .mat-display-small, .mat-typography{
  margin: 0;
  font-family: 'Quicksand', sans-serif !important;
}

.mat-display-small, .mat-typography .mat-display-small, .mat-typography h3 {
  margin: 0;
  font-family: 'Quicksand', sans-serif !important;
}


