/* You can add global styles to this file, and also import other style files */
@import "./custom.scss";

html,
body {
  height: auto;
  min-height: 100vh;
  background: linear-gradient(0deg, #000000, #003232, #5ba3a3, #eaeaea);
  background-size: 800% 800%;
}


