.conversation-link{
    width: 100%;
    display: flex;
    cursor: pointer;
}

.message-content{
    width: 100%;
    overflow: hidden;
}

.content{
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}